@media screen and (min-width : 0) and (max-width: 575px) {
  .leftImg{
    height: 200px !important;
    img{
      height: 200px !important;
    }
  }
  .content{
    height: 200px !important;
    h1{
      font-size: 17px !important;
    }
  }
  .rightImg{
    height: 200px !important;
    img{
      height: 200px !important;
    }
  }
}
@media screen and (min-width : 576px) and (max-width: 767px) {
  .leftImg{
    height: 300px !important;
    img{
      height: 300px !important;
    }
  }
  .content{
    height: 300px !important;
  }
  .rightImg{
    height: 300px !important;
    img{
      height: 300px !important;
    }
  }
}

@media screen and (min-width : 768px) and (max-width: 991px) {
  .leftImg{
    height: 400px !important;
    img{
      height: 400px !important;
    }
  }
  .content{
    height: 400px !important;
  }
  .rightImg{
    height: 400px !important;
    img{
      height: 400px !important;
    }
  }
}

@media screen and (min-width : 992px) and (max-width: 1199px) {
  .leftImg{
    height: 500px !important;
    img{
      height: 500px !important;
    }
  }
  .content{
    height: 500px !important;
  }
  .rightImg{
    height: 500px !important;
    img{
      height: 500px !important;
    }
  }
}

@media screen and (min-width : 1200px) {
  .leftImg{
    height: 600px !important;
    img{
      height: 600px !important;
    }
  }
  .content{
    height: 600px !important;
    h1{
      font-size: 52px !important;
    }
  }
  .rightImg{
    height: 600px !important;
    img{
      height: 600px !important;
    }
  }
}
