.mainContainer{
  .banner{
    .details{
      h1{
        font-size: 70px;
      }
    }
  }

  // .imageContainer{
  //   height: 600px;
  //   display: flex;
  //   position: relative;
  //   .image1div{
  //     position: absolute;
  //     top:10%;
  //     left: 20%;
  //     z-index: 500;
  //     height: inherit;
  //     .image1{
  //       width: 400px;
  //       height: 500px;
  //       z-index: 999;
  //     }
  //   }
  //   .image2div{
  //     position: absolute;
  //     top: 0;
  //     right: -20%;
  //     margin-left: auto;
  //     width: auto;
  //     .image2{
  //       width: 500px;
  //       height: 600px;
  //       // background:linear-gradient(89.26deg, rgba(255, 255, 255, 0.37) -13.18%, rgba(171, 93, 2, 0.72) 99.27%);
  //     }
  //   }
  // }
}

@media screen and (min-width : 1201px){
  .mainContainer{

    .imageContainer{
      height: 610px !important;
      .image1{
        width: 400px;
        height: 500px;
        z-index: 999;
        transform: translateX(50%);
      }
      div{
        z-index: 500 !important;
        .image2{
          width: 500px;
          height: 600px;
          z-index: 400 !important;
        }
      }
    }
  }
}

@media screen and (min-width : 992px) and (max-width: 1200px) {
  .mainContainer{
    .banner{
      .details{
        h1{
          font-size: 55px;
        }
      }
    }
    .imageContainer{
      height: 610px !important;
      .image1{
        width: 400px;
        height: 500px;
        z-index: 999;
        transform: translateX(50%);
      }
      div{
        z-index: 500 !important;
        .image2{
          width: 500px;
          height: 600px;
          z-index: 400 !important;
        }
      }
    }
  }
}

@media screen and (min-width : 767px) and (max-width: 991px) {
  .mainContainer{
    .banner{
      .details{
        h1{
          font-size: 45px;
        }
      }
    }
    .imageContainer{
      height: 620px !important;
      .image1{
        width: 400px;
        height: 600px;
        z-index: 999;
        transform: translate(50%, -50%);
        right: 50%; /* Align the center of image2 with the right edge of image1 */
        top: 50%;
      }
    }
  }
}

@media screen and (min-width : 575px) and (max-width: 767px) {
  .mainContainer{
    .banner{
      .details{
        h1{
          font-size: 35px;
        }
      }
    }
    .imageContainer{
      height: 570px !important;
      .image1{
        width: 400px !important;
        height: 550px;
        z-index: 999;
        transform: translate(50%, -50%);
        right: 50%; /* Align the center of image2 with the right edge of image1 */
        top: 50%;
      }
    }
  }
}

@media screen and (min-width : 0) and (max-width: 575px) {
  .mainContainer{
    .banner{
      .details{
        h1{
          font-size: 25px;
        }
      }
    }
    .imageContainer{
      height: 440px !important;
      .image1{
        width: 400px;
        height: 400px;
        z-index: 999;
        transform: translate(50%, -50%);
        right: 50%; /* Align the center of image2 with the right edge of image1 */
        top: 50%;
      }
    }
  }
}